<!DOCTYPE html>
      <html>
        <head>
          <title> Title of the document<title>
<style>
        .container{
            width: 600px;
            height: 600px;
            overflow: hidden;
        }
        .image{
            width: 300px;
            height: 300px;
            background-position: center;
            background-size: cover;
            transition: 1s;
            margin: 100px;
        }
        .image:hover{
            transform: scale(2);
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="/docs/assets/com_network.jpg" alt="" class="image">
    </div>
</body>
</html>
